<div class="principalContainer">
  <div class="formContainer">

    <div class="buttonBack">
      <ion-button  (click)="clickButtonBack()" fill="clear">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="titleContainer">
      <ion-icon class="titleIcon" name="finger-print-outline"></ion-icon>
      <p>Iniciar sesion</p>
    </div>

    <div class="form">
      <ion-input 
        class="inputForm" 
        label="Usuario" 
        label-placement="floating" 
        fill="solid"
        placeholder="Ingresa un nombre de usuario"
        [(ngModel)]="dataLogin.username"
        >
      </ion-input>

      <ion-input 
        class="inputForm" 
        label="Contraseña" 
        label-placement="floating" 
        fill="solid"
        placeholder="Ingresa una contraseña"
        [(ngModel)]="dataLogin.password"
        >
      </ion-input>

      <ion-button (click)="submitButton()" fill="outline" size="medium">Continuar</ion-button>
      <p *ngif="errorMessage.length > 2">{{errorMessage}}</p>

    </div>

  </div>
</div>