<div class="principal-container">

    <div class="buttonBack">
      <ion-button  (click)="clickButtonBack()" fill="clear">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
      <p>Configuración de perfil</p>
    </div>
    
    
    <div class="form-icon">
      <ion-avatar >
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-button  (click)="clickButtonBack()" fill="clear"> Cambiar foto </ion-button>
    </div>
    <p>Edita y actualiza tus datos personales desde esta sección.</p>
    <p>¿Que deseas modificar?</p>

    <div class="form">

      <ion-input 
        label="Nombre de usuario" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Ingresa un nuevo nombre de usuario"
        [(ngModel)]="userData.name"
        >
      </ion-input>

      <ion-input 
        label="Email" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Ingresa una contraseña"
        [(ngModel)]="userData.email"
        >
      </ion-input>

      <ion-input 
        label="Contraseña" 
        label-placement="floating" 
        fill="outline" 
        placeholder="contraseña actual"
        [(ngModel)]="userData.password"
        >
      </ion-input>

      <ion-input 
        label="Pais" 
        label-placement="floating" 
        fill="outline" 
        placeholder="pais actual dinamico XD"
        [(ngModel)]="userData.country"
        >
      </ion-input>
      
    </div>
    
    <div class="form-color">
      <p>Selecciona un color para tu App</p>
      <input type="color" [(ngModel)]="userData.selectedColor"/>

      <ion-button (click)="submitButton()" fill="outline" size="medium">Actualizar datos</ion-button>
    </div>
</div>

