<div class="principalContainer">
  <div class="formContainer">

    
    <div class="buttonBack">
      <ion-button fill="clear">
        <ion-icon (click)="clickButtonBack()" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="titleContainer">
      <ion-icon class="titleIcon" name="person-add"></ion-icon>
      <p>Formulario de registro</p>
    </div>


    <div class="form">
      <ion-input class="inputForm" label="Usuario" label-placement="floating" fill="solid"
        placeholder="Ingresa un nombre de usuario"></ion-input>

      <ion-input class="inputForm" label="Contraseña" label-placement="floating" fill="solid"
        placeholder="Ingresa una contraseña"></ion-input>

      <ion-select class="inputForm" label=" Genero" label-placement="floating" fill="solid">
        <ion-select-option value="apple">Masculino</ion-select-option>
        <ion-select-option value="banana">Femenino</ion-select-option>
      </ion-select>

      <ion-button fill="outline" size="medium">Continuar</ion-button>

    </div>

  



  </div>
</div>