<div class="principalContainer">
  <div class="formContainer">

    
    <div class="buttonBack">
      <ion-button  (click)="clickButtonBack()" fill="clear">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="titleContainer">
      <ion-icon class="titleIcon" name="person-add"></ion-icon>
      <p>Formulario de registro</p>
    </div>


    <div class="form">
      <ion-input 
        class="inputForm" 
        label="Usuario" 
        label-placement="floating" 
        fill="solid"
        placeholder="Ingresa un nombre de usuario"
        [(ngModel)]="userData.name"
        >
      </ion-input>

      <ion-input 
        class="inputForm" 
        label="Email" 
        label-placement="floating" 
        fill="solid"
        placeholder="Ingresa una contraseña"
        [(ngModel)]="userData.email"
        >
      </ion-input>

      <ion-input 
        class="inputForm" 
        label="Contraseña" 
        label-placement="floating" 
        fill="solid"
        placeholder="Ingresa una contraseña"
        [(ngModel)]="userData.password"
        >
      </ion-input>

      <!-- <ion-select 
        class="inputForm" 
        label=" Genero" 
        label-placement="floating" 
        fill="solid"
        [(ngModel)]="userData.gender"
        >
        <ion-select-option value="male">Masculino</ion-select-option>
        <ion-select-option value="female">Femenino</ion-select-option>
      </ion-select> -->

      <ion-button (click)="submitButton()" fill="outline" size="medium">Continuar</ion-button>
      <p *ngIf="responseCreation.length > 2">{{responseCreation}}</p>

    </div>

  



  </div>
</div>